<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pptware.repomaster.repoadmin.mapper.RepoAdminUbuntuMapper">

	<select id='getFocalPackList' resultType="com.pptware.repomaster.repoadmin.domain.RepoAdminUbuntu">
		
		SELECT
				/*
				idx
			  	, Package AS package_name
			  	, VERSION AS version
			  	, Section AS section
			  	, Architecture AS architecture
			  	*/
			  	*
		FROM 
				ubuntu_focal_main
		WHERE 
				UbuntuVersion = "20.04"
		AND		
				UbuntuVersionName = "Focal"
	 ORDER BY 
				Package					
		  ASC					

	</select>

    <select id='searchFocalPackList' parameterType="Map"  resultType="com.pptware.repomaster.repoadmin.domain.RepoAdminUbuntu">
		
		SELECT
				/*
				idx
			  	, Package AS package_name
			  	, VERSION AS version
			  	, Section AS section
			  	, Architecture AS architecture
			  	*/
			  	*
		FROM 
				ubuntu_focal_main
		WHERE 
				Package like CONCAT(#{rpm_sourcerpm},'%') 
	 ORDER BY 
				Package					
		  ASC	
  	</select>
  	
	<select id='getFocalPackDesc' parameterType="String" resultType="com.pptware.repomaster.repoadmin.domain.RepoAdminUbuntu">
		SELECT
				 Package AS package_name
				, Version
				, Priority
				, Section
				, CONCAT(Round(InstalledSize/1024),'MB') AS InstalledSize
				, CONCAT(Round(Size/1024),'MB') AS DownloadSize				
				, Provides
				, Depends
				, Suggests		
				, Filename
				, Description	
				, Recommends
				, Enhances														
		FROM 
				ubuntu_focal_main
		WHERE 
				idx = #{idx} 
				
	</select>

</mapper>

